$prefix: ".oneline-";

$font-weight: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 90
);

$size-text: (
  title: 14pt,
  headline: 16pt,
  body: 12pt,
  caption: 12pt
);

$size-text-largest: 30px;
$size-text-larger: 28px;
$size-text-large: 26px;
$size-text-biggest: 24px;
$size-text-bigger: 22px;
$size-text-big: 20px;
$size-text-lead: 18px;
$size-text-title: 16px;
$size-text-normal: 14px;
$size-text-small: 12px;
$size-text-thin: 11px;

@mixin text-lead {
  font-size: 18px;
  font-weight: 300;
}

@mixin font($size) {
  font-size: $size;
  line-height: $size + 8px;
}