
// 文字标题: #383D47, 正文色: #4A505E , 提示色: #9AB0C6, 重点提示: #FFBD3C
// 警告色: 错误警示: #FF617F, 背景色: #F5F5F9, 弹出层蒙版: #383D47 40%

$color-text: (
  title: #383D47,
  content: #4A505E,
  tip: #9AB0C6,
  error: #FF617F,
  warning: #FFBD3C
);

$color-bg: (
  main: #F5F5F9,
  overlay: #383D47 40%
);



/**
* primary - blue
* warning - yellow
* error - red
* success - green
**/

//蓝色
$color-blue: (
  light: #71CDFF,
  dark: #3A9FF6,
  medium: #5AB2FF
);
//红色
$color-red: (
  light: #FF617F,
  dark: #F4333C,
  medium: #FF4772
);
//黄色
$color-yellow: (
  light: #FFBD3C,
  dark: #FF9900,
  medium: #FFA82D
);
//绿色
$color-green: (
  light: #27E2B2,
  dark: #19BE6B,
  medium: #0DDECE
);

//灰色
$color-grey: (
  light: #F8F9FD,
  dark: #DEE2E7,
  medium: #E9EDF2
);

$color: (
  text: $color-text, 
  bg: $color-bg, 
  red: $color-red, 
  green: $color-green,
  yellow: $color-yellow,
  blue: $color-blue
);
/*
     primary: #4d79f6 -> #fff
     secondary: #4ac7ec -> #fff
     success: #1ecab8 -> #fff
     warning: #f3c74d -> #fff
     info: #9ba7ca -> #fff
     danger: #f1646c -> #fff
     dark: #2f4686 -> #fff
     light: #f1f5fa -> #50649c
     link: #fff -> #8997bd
      pink: rgba(255,93,160,.1) -> #ff5da0
      purple: #7551e9 -> #fff
*/
//背景颜色
$color-main-bg: #eaf0f7;

//文字颜色
$color-text-main: #50649c; 
$color-text-secondary: #7081b9;
$color-text-normal: #a4abc5;

//基本色块
$color-primary: #4d79f6;
$color-secondary: #4ac7ec;
$color-success: #1ecab8;
$color-warning: #f3c74d;
$color-info: #9ba7ca;
$color-danger: #f1646c;
$color-dark: #2f4686;
$color-light: #f1f5fa;
$color-link: #8997bd;
$color-pink: #ff5da0;
$color-purple: #7551e9;
$color-white: #fff;
$color-muted: #a4abc5;


/// 边框
$color-border-main: #dee2e6;
$color-border-secondary: #eaf0f7;
$color-border-form: #a4abc5;
//
$color-shadow-light: 0 0 3px rgba(31,30,47,.05);

$color-link-light: #7c92a7;
$color-link-light-active: #4d79f6;