$prefix: ".oneline-";

$font-weight: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 90
);

$size-text: (
  title: 14pt,
  headline: 16pt,
  body: 12pt,
  caption: 12pt
);

